#subject {
    font-size: 25px;
    text-align: center;
    padding: 14px 22px;
    margin: 14px 15px;
}

h2 {
    font-size: 30px;
    justify-content: space-around;
    margin: 45px;
}

h3 {
    font-size: 25px;
    justify-content: space-around;
    margin: 45px;
}

#homework {
    font-size: 25px;
    text-align: center;
    padding: 14px 22px;
    margin: 14px 15px;
}

a {
    border: 2px solid red;
    background-color: wheat;
    /* border-radius: 10px; */
    padding: 6px 15px;
    margin: 14px;
}