
#learnersSide{
  font-family: 'Luckiest Guy', cursive;
  font-size: large;
}

.container{
  width: 95%;
  margin: auto;
}

nav ul{
  list-style-type: none;
}

nav li{
  font-size: 1.3rem;
  margin-top: 5px;
  /* float: left; */
  padding: 0 15px;
}



.current a::after{
  content: '-';
  font-size: 4px;
  background-color: white;
  display: block;
}

#wrapper{
  /* display: grid; */
  grid-template-columns: 82%;
}

.equation{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 51px 0px 51px;
}
.options h1{
  cursor: pointer;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 10px;
  margin-right:50px ;
  text-align: center;
  width: 100%;
}  

#option1{
  background-color: orange;
  transition: 1s;
}
#option1:hover{
  color: #FE4A49;
  background-color: white;
}
.equation h1{
  display: inline;
  padding: 20px;
}

 .options{
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 25px;
  margin: 11px 0px 0px 20%;
  /* color: #fff; */
  transition: 2s;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

@media(max-width:768px){
  .nav h2{
    font-size: 1.5rem;
    float: none;
    text-align: center;
  }

  nav{
    float: none;
    display: flex;
    justify-content: center;
  }

  nav li{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .nav h2{
    float: none;
    text-align: center;
  }

  nav li{
    font-size: .8rem;
  }

}

  #homework{
    text-align: center;
  }

  /* options */
  #optionBtn{
    color:#fff;
    background-color: orange;
  border: 2px solid rgb(0, 255, 242);
  border-radius: 10px;
  padding: 6px 78px;
  margin: 11px;
  }
  .homework-option{
   text-align: center;
  
  }

  /* nav */
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .nav li {
    font-size: 13px;
    display: block;
    float: left;
    height: 90px;
    width: 100px;
    /*new*/
    text-align: center;
    /*new*/
    transition: all 0.2s ease-in-out;
  }
  
  .nav .Home {
    background: #F18701;
  }
  
  
  .nav .signOut {
    background: #F35B04;
  }
  
  .nav .graduation {
    background: #F7B801;
  }
  .nav .Lock {
    background: #35404f;
  }
  .nav li {
    /* font-family: FontAwesome; */
    color: #eee;
    font-size: 0;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  .nav .home li i {
    color: #fff;
    padding: 0 10px;
  }
  
  .nav li b {
    padding: 15px 0;
    display: none;
  }
  
  .nav a:hover {
    color: #fff;
  }
  
  .nav .addHomework a:hover {
    color: #fff;
  }
  .nav .Lock a:hover {
    color: #fff;
  }
  .nav .graduation a:hover {
    color: #fff;
  }
  .nav .signOut:hover {
    color: #fff;
  }
  .nav .Lock:hover {
    color: #fff;
  }
  .nav .graduation:hover {
    color: #fff;
  }
  
  .nav .Home a:hover i {
    display: none;
  }
  .nav .Lock a:hover i {
    display: none;
  }
  
  .nav .addHomework a:hover i {
    display: none;
  }
  
  .nav .signOut a:hover i {
    display: none;
  }
  
  .nav .addHomework:hover b {
    display: block;
  }
  .nav .graduation:hover b {
    display: block;
  }
  .nav .signOut:hover b {
    display: block;
  }
  .nav .Lock:hover b {
    display: block;
  }
  
  .nav .Home:hover b {
    display: block;
  }
  #successText{
    text-align: center;
    font-size: 30px;
  }